body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

#infoJornada {
  background: #f3f3f3;
  padding: 10px;
  margin-bottom: 15px;
  border-left: 5px solid #006847; /* verde MX */
}
